button {
  background-color: #0096D6;
  border: none;
  color: white;
  padding: 4px 24px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border: 1px solid black;
  margin-top: 5px;
}

canvas {
  margin-top: 10px;
  position: absolute;
}

shape-button {
  background-color: #ffecb8;
  border: none;
  color: black;
  padding: 4px 24px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border: 1px solid black;
  margin-top: 5px;
}


#layer-feedback { z-index: 3; }
#layer-foreground { z-index: 2; }
#layer-background { z-index: 1; }
